{% extends "layout.html" %}
{% block content %}
<h1 class="title">Contact Us</h1>
  <head>
    <style>
      .person {
        width: 33%;
        float: left;
        text-align: center;
      }
      .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div class="person">
      <img class="image" src="{{ url_for('static', filename='celineprofile.jpg') }}" alt="Celine">
      <h2 class="title">Celine</h2>
      <p>cdp72@drexel.edu</p>
    </div>
    <div class="person">
      <img class="image" src="{{ url_for('static', filename='sylvieprofile.jpg') }}" alt="Sylvie">
      <h2 class="title">Sylvie</h2>
      <p>syisda@gmail.com</p>
    </div>
    <div class="person">
      <img class="image" src="{{ url_for('static', filename='ilsaprofile.jpg') }}" alt="Ilsa">
      <h2 class="title">Ilsa</h2>
      <p>ilsa@gmail.com</p>
    </div>
  </body>

{% endblock %}