{% extends "layout.html" %}
{% block content %}
<h1>Dashboard</h1>
<div>
    <form id="filter-form" action="/filter" method="GET">
      <label for="time-filter">Select Time Range:</label>
      <select id="time-filter" onchange="document.getElementById('filter-form').submit()">
        <option value="all">All Time</option>
        <option value="5">Last 5 Minutes</option>
        <option value="10">Last 10 Minutes</option>
        <option value="60">Last Hour</option>
      </select>
    </form>
  </div>
  
  
<div class ="maincontainer">
<div class="time-used">
    <span class="duration">{{time_used}}</span> using Mood Mapper.
</div>
<br>

<div style="width: 350px;"><canvas id="moods"></canvas></div>

<div class="camera-container mini">
    <video class="mini" onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
    <canvas id="overlay" class="mini"></canvas>
    <p id="loading-camera">
        Waiting for camera access...<br>
        This usually takes a few moments.<br>
        If you haven't already, please allow camera access.
    </p>
</div>

<script src="{{ url_for ('static', filename='js/face-api.js') }}"></script>
<script src="{{ url_for ('static', filename='js/script.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
const colors = ['#A26769','#905E71','#775975','#5C5471','#424F67','#2F4858']
const otherColors = ['#A26769', '#574142', '#BFA5A5', '#777A4E', '#ACAE7F', '#905E71']

const data = {
    labels: {{ labels | tojson}},
    datasets: [{
        label: 'My First Dataset',
        data: {{ data | tojson}},
        backgroundColor: otherColors,
        hoverOffset: 4
    }]
};

const config = {
    type: 'doughnut',
    data: data,
    options: { maintainAspectRatio: false }
};

const myChart = new Chart(
    document.getElementById('moods'),
    config
);
</script>
</div>
{% endblock %}