{% extends "layout.html" %}
{% block content %}

<h1 style="display: inline-block;">Mood mapper</h1>
<p id="loading-models">Loading models... this should only take a few moments.</p>
<div style="position: relative" class="camera-container">
    
    <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
    <canvas id="overlay" ></canvas>
    <p id="loading-camera">
        Waiting for camera access...<br>
        This usually takes a few moments.<br>
        If you haven't already, please allow camera access.
    </p>
    <div class="help help-topright">
        <span class="material-symbols-rounded help-icon">question_mark</span>
        <p class="help-content">
        This is a facial expression tracking system. It will analyze your facial expressions bla bla
        </p>
    </div>
</div>

<label class="switch">
    <input type="checkbox" id="realtimeToggle" onclick="onRealtimeToggle()" checked>
    <span class="slider round"></span>
</label>
<label class="switch-label">Real-time face tracking</label>

<div class="help">
    <span class="material-symbols-rounded help-icon">question_mark</span>
    <p class="help-content">
    Disabling this analyzes your facial expressions every 1 second rather than as often as possible. 
    This is useful if you have a slow computer or if you want to save battery life.
    It will not affect your expression analysis results.
    </p>
</div>

<script src="{{ url_for ('static', filename='js/face-api.js') }}"></script>
<script src="{{ url_for ('static', filename='js/script.js') }}"></script>

{% endblock %}